@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../img/bg.jpg);
    background-size: cover;
}

.container {
    position: relative;
    width: 400px;
    height: 400px;
    .listShoes {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        li {
            list-style: none;
            width: 100px;
            height: 100px;
            margin: 10px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(255, 255, 255, 0.2);
            box-shadow: 0 15px 25px rgba(0, 0, 0, 0.4);
            border-radius: 20px;
            backdrop-filter: blur(4px);
            border: 1px solid rgba(255, 255, 255, 0.25);
            border-top: 1px solid rgba(255, 255, 255, 0.5);
            border-left: 1px solid rgba(255, 255, 255, 0.5);
            img {
                width: 80%;
                transition: .6s;
            }
            &:hover {
                img {
                    transform: rotate(-25deg);
                }
            }
        }
    }
    .boxShoes {
        position: absolute;
        top: 0;
        right: 0;
        padding: 60px 20px;
        width: 350px;
        height: 100%;
        padding-left: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        background: rgba(255, 255, 255, 0.2);
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        backdrop-filter: blur(4px);
        border: 1px solid rgba(255, 255, 255, 0.25);
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        h2 {
            margin-left: -20px;
            color: #ffffff;
            letter-spacing: 1px;
            font-weight: 700;
            font-size: 26px;
        }
        img {
            width: 85%;
            transition: .8s;
            &:hover {
                transform: scale(1.2) translateX(20px) rotate(-15deg);
            }
        }
        .sizeShoes {
            display: flex;
            justify-content: center;
            align-items: center;
            span {
                color: #ffffff;
                font-size: 1.2rem;
                letter-spacing: 1px;
                margin-right: 5px;
            }
            li {
                list-style: none;
                width: 30px;
                height: 30px;
                background: #ffffff;
                color: #000000;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 5px;
                border-radius: 4px;
                font-weight: 700;
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
                cursor: pointer;
                transition: .3s;
                &:hover {
                    background: #eeeeee;
                    transform: translateY(-5px)
                }
            }
        }
        .btn {
            position: absolute;
            bottom: -25px;
            left: 100px;
            background: #ffffff;
            box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
            border-radius: 30px;
            text-decoration: none;
            display: inline-block;
            padding: 15px 30px;
            font-weight: 500;
            color: #000000;
            transition: .3s;
            &:hover {
                background: #eeeeee;
            }
        }
    }
}